
div{
    font-family:arial;
    max-width:80%;
    margin:20px auto;
    font-size:60px;
    letter-spacing:3px;
}

.cursor{
    opacity:0;
    transition:0.2s;
}
.cursor.active{
    opacity:1;
}
